/* ./src/index.css */
@import 'tailwindcss';

@config '../../tailwind.config.js';

@utility btn {
  @apply cursor-pointer px-4 py-1 rounded-2xl text-xl brutalist-drop-1 inline-block disabled:opacity-50;
  @apply transition hover:-translate-[1px] hover:brutalist-drop-2 active:translate-[2px] active:brutalist-drop-none;
}

@utility btn-lg {
  @apply btn px-6 py-2 text-2xl inline-block;
}

@utility btn-primary {
  @apply bg-amber-100 border border-black hover:bg-amber-400 active:bg-amber-400 text-black;
}

@utility btn-secondary {
  @apply bg-white border border-black hover:bg-slate-200 active:bg-slate-200 text-black;
}

@utility btn-delete {
  @apply bg-red-200 border border-black hover:bg-red-400 active:bg-red-400;
}

@utility btn-add {
  @apply bg-emerald-100 border border-black hover:bg-emerald-300 active:bg-emerald-300;
}

@utility brutalist-drop-2 {
  @apply drop-shadow-[2px_2px_0px_#000];
}

@utility brutalist-drop-1 {
  @apply drop-shadow-[1px_1px_0px_#000];
}

@utility brutalist-drop-none {
  @apply drop-shadow-none;
}

@utility input-field {
  @apply border rounded-full px-4 py-2 bg-white border-black focus:outline-none focus:brutalist-drop-1;
}